<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Hello express!</h1>
<div>
    <button id="next-btn">Next</button>
    <textarea id="next"><%= next%></textarea>
</div>
<script>
    document.getElementById('next-btn').addEventListener('click', () => document.location.reload());
</script>
</body>
</html>